[Unit]
Description=HomeBus NetAtmo Weather Station publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-netatmo

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-netatmo.rb
TimeoutSec=30

Restart=always

[Install]
WantedBy=multi-user.target

